force-app/main/default/flows/X3Activities-16.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Debug</name>
        <label>Debug</label>
        <locationX>565</locationX>
        <locationY>124</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>TempID</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>DebugText</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Call_Field_Logic</name>
        <label>Call Field Logic</label>
        <locationX>868</locationX>
        <locationY>637</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>X1st_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>calldate1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_1st_Call</targetReference>
            </connector>
            <label>1st Call</label>
        </rules>
        <rules>
            <name>X2nd_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>calldate2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_2nd_Call</targetReference>
            </connector>
            <label>2nd Call</label>
        </rules>
        <rules>
            <name>X3rd_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>calldate3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_3rd_Call</targetReference>
            </connector>
            <label>3rd Call</label>
        </rules>
        <rules>
            <name>X4th_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>calldate4</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_4th_Call</targetReference>
            </connector>
            <label>4th Call</label>
        </rules>
        <rules>
            <name>X5th_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>calldate5</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_5th_Call</targetReference>
            </connector>
            <label>5th Call</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Call_Logic</name>
        <label>Contact Call Logic</label>
        <locationX>2011</locationX>
        <locationY>485</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsNotFirstCallContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LastCall</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <label>IsNotFirstCallContact</label>
        </rules>
        <rules>
            <name>C_1st_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>calldate1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_Fill_1st_Call</targetReference>
            </connector>
            <label>C 1st Call</label>
        </rules>
        <rules>
            <name>C_2nd_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>calldate2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_Fill_2nd_Call</targetReference>
            </connector>
            <label>C 2nd Call</label>
        </rules>
        <rules>
            <name>C_3rd_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>calldate3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_Fill_3rd_Call</targetReference>
            </connector>
            <label>C 3rd Call</label>
        </rules>
        <rules>
            <name>C_4th_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>calldate4</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_Fill_4th_Call</targetReference>
            </connector>
            <label>C 4th Call</label>
        </rules>
        <rules>
            <name>C_5th_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>calldate5</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_Fill_5th_Call</targetReference>
            </connector>
            <label>C 5th Call</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Email_Logic</name>
        <label>Contact Email Logic</label>
        <locationX>1430</locationX>
        <locationY>487</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsNotFirstEmailContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LastEmail</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <label>IsNotFirstEmailContact</label>
        </rules>
        <rules>
            <name>C_1st_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>emaildate1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_Fill_1st_Email</targetReference>
            </connector>
            <label>C 1st Email</label>
        </rules>
        <rules>
            <name>C_2nd_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>emaildate2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_Fill_2nd_Email</targetReference>
            </connector>
            <label>C 2nd Email</label>
        </rules>
        <rules>
            <name>C_3rd_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>emaildate3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_Fill_3rd_Email</targetReference>
            </connector>
            <label>C 3rd Email</label>
        </rules>
        <rules>
            <name>C_4th_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>emaildate4</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_Fill_4th_Email</targetReference>
            </connector>
            <label>C 4th Email</label>
        </rules>
        <rules>
            <name>C_5th_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>emaildate5</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>C_Fill_5th_Email</targetReference>
            </connector>
            <label>C 5th Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Email_or_Call</name>
        <label>Contact Email or Call</label>
        <locationX>1719</locationX>
        <locationY>388</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contact_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActivityType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Last_Email_Filter</targetReference>
            </connector>
            <label>Contact Email</label>
        </rules>
        <rules>
            <name>Contact_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActivityType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Last_Call_Filter</targetReference>
            </connector>
            <label>Contact Call</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Last_Call_Filter</name>
        <label>Contact Last Call Filter</label>
        <locationX>1808</locationX>
        <locationY>484</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsNotLastCallContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LastCall</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Last_Call</targetReference>
            </connector>
            <label>IsNotLastCallContact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Last_Email_Filter</name>
        <label>Contact Last Email Filter</label>
        <locationX>1665</locationX>
        <locationY>479</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsNotLastEmailContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LastEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Last_Email</targetReference>
            </connector>
            <label>IsNotLastEmailContact</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Field_Logic</name>
        <label>Email Field Logic</label>
        <locationX>246</locationX>
        <locationY>630</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>X1st_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>emaildate1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_1st_Email</targetReference>
            </connector>
            <label>1st Email</label>
        </rules>
        <rules>
            <name>X2nd_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>emaildate2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_2nd_Email</targetReference>
            </connector>
            <label>2nd Email</label>
        </rules>
        <rules>
            <name>X3rd_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>emaildate3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_3rd_Email</targetReference>
            </connector>
            <label>3rd Email</label>
        </rules>
        <rules>
            <name>X4th_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>emaildate4</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_4th_Email</targetReference>
            </connector>
            <label>4th Email</label>
        </rules>
        <rules>
            <name>X5th_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>emaildate5</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fill_5th_Email</targetReference>
            </connector>
            <label>5th Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_or_Call</name>
        <label>Email or Call</label>
        <locationX>526</locationX>
        <locationY>367</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Is_Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActivityType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Last_Call_Filter</targetReference>
            </connector>
            <label>Is Call</label>
        </rules>
        <rules>
            <name>Is_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActivityType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Last_Email_Filter</targetReference>
            </connector>
            <label>Is Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Last_Call_Filter</name>
        <label>Lead Last Call Filter</label>
        <locationX>605</locationX>
        <locationY>499</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsNotLastCallLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LastCall</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Last_Call</targetReference>
            </connector>
            <label>IsNotLastCallLead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Last_Email_Filter</name>
        <label>Lead Last Email Filter</label>
        <locationX>477</locationX>
        <locationY>497</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsNotLastEmailLead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LastEmail</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Last_Email</targetReference>
            </connector>
            <label>IsNotLastEmailLead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_or_Contact</name>
        <label>Lead or Contact</label>
        <locationX>1130</locationX>
        <locationY>135</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Record_is_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LeadText</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Lookup</targetReference>
            </connector>
            <label>Record is Lead</label>
        </rules>
        <rules>
            <name>Record_is_Contact</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ObjectType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ContactText</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ID</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Lookup</targetReference>
            </connector>
            <label>Record is Contact</label>
        </rules>
    </decisions>
    <description>Got rid of Chatter Debug. Added wait step for Contact records and clarified the Decision for Contact records</description>
    <formulas>
        <name>Minutes_Ago_59</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} - (1/24.4)</expression>
    </formulas>
    <interviewLabel>3Activities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>3Activities</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Activity_Lookup</name>
        <label>Activity Lookup</label>
        <locationX>1129</locationX>
        <locationY>41</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_or_Contact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ActivityID</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>ActivityType</assignToReference>
            <field>Type</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ID</assignToReference>
            <field>WhoId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Contact_Lookup</name>
        <label>Contact Lookup</label>
        <locationX>1717</locationX>
        <locationY>280</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Email_or_Call</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>LastCall</assignToReference>
            <field>Last_Call__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LastEmail</assignToReference>
            <field>Last_Email__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>calldate1</assignToReference>
            <field>X1st_Call_Sent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>emaildate1</assignToReference>
            <field>X1st_Email_Sent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>calldate2</assignToReference>
            <field>X2nd_Call_Sent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>emaildate2</assignToReference>
            <field>X2nd_Email_Sent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>calldate3</assignToReference>
            <field>X3rd_Call_Sent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>emaildate3</assignToReference>
            <field>X3rd_Email_Sent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>calldate4</assignToReference>
            <field>X4th_Call_Sent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>emaildate4</assignToReference>
            <field>X4th_Email_Sent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>calldate5</assignToReference>
            <field>X5th_Call_Sent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>emaildate5</assignToReference>
            <field>X5th_Email_Sent__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lead_Lookup</name>
        <label>Lead Lookup</label>
        <locationX>527</locationX>
        <locationY>269</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_or_Call</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>LastCall</assignToReference>
            <field>Last_Call__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LastEmail</assignToReference>
            <field>Last_Email__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>calldate1</assignToReference>
            <field>X1st_Call_Sent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>emaildate1</assignToReference>
            <field>X1st_Email_Sent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>calldate2</assignToReference>
            <field>X2nd_Call_Sent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>emaildate2</assignToReference>
            <field>X2nd_Email_Sent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>calldate3</assignToReference>
            <field>X3rd_Call_Sent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>emaildate3</assignToReference>
            <field>X3rd_Email_Sent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>calldate4</assignToReference>
            <field>X4th_Call_Sent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>emaildate4</assignToReference>
            <field>X4th_Email_Sent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>calldate5</assignToReference>
            <field>X5th_Call_Sent__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>emaildate5</assignToReference>
            <field>X5th_Email_Sent__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>C_Fill_1st_Call</name>
        <label>C Fill 1st Call</label>
        <locationX>1788</locationX>
        <locationY>610</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>X1st_Call_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>C_Fill_1st_Email</name>
        <label>C Fill 1st Email</label>
        <locationX>1204</locationX>
        <locationY>609</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>X1st_Email_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>C_Fill_2nd_Call</name>
        <label>C Fill 2nd Call</label>
        <locationX>1900</locationX>
        <locationY>609</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>X2nd_Call_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>C_Fill_2nd_Email</name>
        <label>C Fill 2nd Email</label>
        <locationX>1316</locationX>
        <locationY>608</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>X2nd_Email_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>C_Fill_3rd_Call</name>
        <label>C Fill 3rd Call</label>
        <locationX>2012</locationX>
        <locationY>610</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>X3rd_Call_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>C_Fill_3rd_Email</name>
        <label>C Fill 3rd Email</label>
        <locationX>1429</locationX>
        <locationY>609</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>X3rd_Email_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>C_Fill_4th_Call</name>
        <label>C Fill 4th Call</label>
        <locationX>2124</locationX>
        <locationY>611</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>X4th_Call_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>C_Fill_4th_Email</name>
        <label>C Fill 4th Email</label>
        <locationX>1541</locationX>
        <locationY>609</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>X4th_Email_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>C_Fill_5th_Call</name>
        <label>C Fill 5th Call</label>
        <locationX>2241</locationX>
        <locationY>612</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>X5th_Call_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>C_Fill_5th_Email</name>
        <label>C Fill 5th Email</label>
        <locationX>1653</locationX>
        <locationY>609</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>X5th_Email_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Fill_1st_Call</name>
        <label>Fill 1st Call</label>
        <locationX>643</locationX>
        <locationY>767</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>X1st_Call_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Fill_1st_Email</name>
        <label>Fill 1st Email</label>
        <locationX>30</locationX>
        <locationY>755</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>X1st_Email_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Fill_2nd_Call</name>
        <label>Fill 2nd Call</label>
        <locationX>756</locationX>
        <locationY>767</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>X2nd_Call_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Fill_2nd_Email</name>
        <label>Fill 2nd Email</label>
        <locationX>130</locationX>
        <locationY>757</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>X2nd_Email_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Fill_3rd_Call</name>
        <label>Fill 3rd Call</label>
        <locationX>869</locationX>
        <locationY>768</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>X3rd_Call_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Fill_3rd_Email</name>
        <label>Fill 3rd Email</label>
        <locationX>244</locationX>
        <locationY>757</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>X3rd_Email_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Fill_4th_Call</name>
        <label>Fill 4th Call</label>
        <locationX>982</locationX>
        <locationY>769</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>X4th_Call_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Fill_4th_Email</name>
        <label>Fill 4th Email</label>
        <locationX>356</locationX>
        <locationY>758</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>X4th_Email_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Fill_5th_Call</name>
        <label>Fill 5th Call</label>
        <locationX>1094</locationX>
        <locationY>768</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>X5th_Call_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Fill_5th_Email</name>
        <label>Fill 5th Email</label>
        <locationX>468</locationX>
        <locationY>757</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>X5th_Email_Sent__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Last_Call</name>
        <label>Update Contact Last Call</label>
        <locationX>2010</locationX>
        <locationY>393</locationY>
        <connector>
            <targetReference>Contact_Call_Logic</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Call__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Last_Email</name>
        <label>Update Contact Last Email</label>
        <locationX>1427</locationX>
        <locationY>400</locationY>
        <connector>
            <targetReference>Contact_Email_Logic</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Email__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Last_Call</name>
        <label>Update Lead Last Call</label>
        <locationX>870</locationX>
        <locationY>511</locationY>
        <connector>
            <targetReference>Call_Field_Logic</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Call__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Last_Email</name>
        <label>Update Lead Last Email</label>
        <locationX>235</locationX>
        <locationY>508</locationY>
        <connector>
            <targetReference>Email_Field_Logic</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Last_Email__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <startElementReference>Wait_for_Contact</startElementReference>
    <textTemplates>
        <name>DebugText</name>
        <text>Test did not work, oh no!!

https://na24.salesforce.com/{!ID}
{!ContactText}
{!LeadText}
{!ObjectType}
{!ActivityID}</text>
    </textTemplates>
    <textTemplates>
        <name>TestChatter</name>
        <text>Testing!

https://cs41.salesforce.com/{!ID}

{!ObjectType}</text>
    </textTemplates>
    <variables>
        <name>ActivityID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ActivityType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>calldate1</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>calldate2</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>calldate3</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>calldate4</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>calldate5</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Contact</stringValue>
        </value>
    </variables>
    <variables>
        <name>emaildate1</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emaildate2</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emaildate3</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emaildate4</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>emaildate5</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LastCall</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastEmail</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LeadText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Lead</stringValue>
        </value>
    </variables>
    <variables>
        <name>ObjectType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TempID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>0051a000000OTPM</stringValue>
        </value>
    </variables>
    <waits>
        <name>Wait_for_Contact</name>
        <label>Wait for Contact</label>
        <locationX>816</locationX>
        <locationY>42</locationY>
        <defaultConnector>
            <targetReference>Activity_Lookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Path]</defaultConnectorLabel>
        <waitEvents>
            <name>Wait_1_Minute</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Activity_Lookup</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>Minutes_Ago_59</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>Hours</stringValue>
                </value>
            </inputParameters>
            <label>Wait 1 Minute</label>
        </waitEvents>
    </waits>
</Flow>
